<header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Shopping Cart</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart <button><span class="badge badge-Success" id="cart-count">{{cartCount}}</span></span></button></a>
        </li>
        
        {{#if user}}
        <li class="nav-item">         
            <a href="/orders" class="nav-link">Orders</a>
        {{/if}}

        </li>
      </ul>
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    {{#if user}}
      {{user.name}}
    {{else}}
      Account
    {{/if}}
    
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    
    {{#if user}}
        <li><a class="dropdown-item" href="/logout"> Logout
   {{else}}
        <li><a class="dropdown-item" href="/login">Login</a>
    {{/if}}
    
    </a></li>
  </ul>
</div>
    </div>
  </div>
</nav>
    </header>